*{
    padding:0rem;
    margin:0rem;
}

html{
    
}

body{
    background-color: hsl(47, 88%, 63%);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Blog-Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 35rem;
    width:23rem;
    padding-left: 1.8rem;
    border-radius: 1rem;
    /* margin-top:5rem; */
    box-shadow:0.4rem 0.4rem  black;
    border:solid 0.1rem;
    overflow: hidden;
    gap:1rem
}

.highlight{
     font-weight:bolder;
     font-size:1.5rem;
     background-color: hsl(47, 88%, 63%);
     width:fit-content;
     padding:0.7rem;
     /* margin-top:1rem;
     margin-bottom: 1rem; */
     font-family: arial;
     border-radius: 0.7rem;
}

.image svg{
    border-radius: 1rem;
    /* margin-top:1rem;
    margin-bottom: 0.5rem; */
}

.Date{
    margin-top:1rem;
    margin-bottom: 1rem;
    color :hsl(0, 0%, 7%);
    display: flex;
    gap:15rem
}

.info h2{
    font-weight: bolder;
    font-size:2rem;
    /* margin-bottom: 1rem; */
}

.para2{
    /* margin-top:1rem;
    margin-bottom: 1rem; */
    color:hsl(0, 0%, 42%);
    font-size:1.3rem;
    padding:0.2rem
}

.person{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size:1rem;
    gap:1rem;
    margin-top:1.4rem
}

.person p{
    font-weight: bolder;
    font-family: arial;
    font-size:1.3rem;
   
}

.person img{

}

.attribution{
    display: flex;
    margin-top:1rem;
    gap:0.3rem;
    font-size:1.1rem;
    font-weight: bolder;
}
/* @media(width:998px){
    html{
    font-size:60%
    }
}

@media(width:598px){
    html{
    font-size:0%
    }
} */